<%- include('header') %>
<main class="container mt-3" style="width: fit-content">
    <h1 class="h1 text-primary">
        Fotós
        <% if (typeof photographer === 'undefined') { %> felvétele
        <% } else { %> szerkesztése
        <% } %>
    </h1>
    <form method="POST">
        <table class="table">
            <tr>
                <td>Név</td>
                <td>
                    <input name="name" id="name" type="text" minlength="2" required class="form-control mt-0"
                           value="<%= (typeof photographer === 'undefined') ? '' : photographer.name %>">
                </td>
            </tr>
            <tr>
                <td>Tagsági szint</td>
                <td>
                    <label>
                        <input type="radio" name="membershipLevel" required value="Tag" class="form-check-input"
                        <% if (typeof photographer !== 'undefined' && photographer.membershipLevel === "Tag") { %>
                               checked
                                <% } %>
                        >
                        Tag
                    </label>
                    <label>
                        <input type="radio" name="membershipLevel" value="Újonc" class="form-check-input"
                        <% if (typeof photographer !== 'undefined' && photographer.membershipLevel === "Újonc") { %>
                               checked
                                <% } %>
                        >
                        Újonc
                    </label>
                </td>
            </tr>
        </table>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-3">
                    <a href="/photographers" class="btn btn-outline-secondary">Mégsem</a>
                </div>
                <div class="col-3">
                    <input type="submit" value="Mentés" class="btn btn-success justify-self-end"/>
                </div>
            </div>
        </div>
    </form>
</main>
<%- include('footer') %>
