<%- include('header') %>
<main style="width: fit-content">
    <h1>
        Fotós
        <% if (typeof photographer === 'undefined') { %> felvétele
        <% } else { %> szerkesztése
        <% } %>
    </h1>
    <form method="POST">
        <table>
            <tr>
                <td>Név</td>
                <td>
                    <label for="name"></label>
                    <input name="name" id="name" type="text" minlength="2" required
                           value="<%= (typeof photographer === 'undefined') ? '' : photographer.name %>">
                </td>
            </tr>
            <tr>
                <td>Tagsági szint</td>
                <td>
                    <label>
                        <input type="radio" name="membershipLevel" required value="Tag"
                        <% if (typeof photographer !== 'undefined' && photographer.membershipLevel === "Tag") { %>
                               checked
                                <% } %>
                        >
                        Tag
                    </label>
                    <label>
                        <input type="radio" name="membershipLevel" value="Újonc"
                        <% if (typeof photographer !== 'undefined' && photographer.membershipLevel === "Újonc") { %>
                               checked
                                <% } %>
                        >
                        Újonc
                    </label>
                </td>
            </tr>
        </table>
        <input type="submit" style="float: right" value="Mentés"/>

    </form>
    <a href="/photographers">
        <button style="float: right">Mégsem</button>
    </a>
</main>
<%- include('footer') %>
