<%- include('header') %>
<!--<link rel="stylesheet" href="../public/stylesheets/table.css">-->
<h1>Események</h1>
<a href="/event/new">
    <button>Esemény felvétele</button>
</a>
<a href="/photographers">
    <button>Fotósok listája</button>
</a>
<table>
    <%
    // TODO: csak a template feltöltésének teszteléséhez, törlésre fog kerülni
    const photoEvents = [
        {
            id: 4,
            name: "Event",
            startTime: "2022-04-08",
            endTime: "2022-04-09",
            location: "BME",
            photographersNeeded: 4,
            photographers: [
                {
                    name: "John Doe",
                    membershipLevel: "Tag"
                }
            ],
            comment: "-"
        }
    ]
    %>
    <tr>
        <th>Megnevezés</th>
        <th>Esemény kezdete</th>
        <th>Esemény vége</th>
        <th>Helyszín</th>
        <th>Jelentkezett fotósok/cél létszám</th>
        <th>Megjegyzés</th>
        <th></th>
    </tr>
    <% photoEvents.forEach(function(event) { %>
        <tr>
            <td><% event.name %></td>
            <td><% event.startTime %></td>
            <td><% event.endTime %></td>
            <td><% event.location %></td>
            <td><% event.photographers.length %>/<% event.photographersNeeded %></td>
            <td><% event.comment %></td>
            <td><a href="/event/details/<%= event.id %>">Részletek</a></td>
        </tr>
    <% }); %>
</table>
<%- include('footer') %>