<%- include('header') %>
<h1>Kezdőlap</h1>
<ul>
    <li>
        <a href="/photographers">Fotósok listája</a>
    </li>
    <li>
        <a href="/events">Eseménylista</a>
    </li>
</ul>
<%- include('footer') %>